Repository FashionForecast/FashionForecast-server, pull requests merged in 2024-08, with the labels that each got.

#7 Rest Docs 적용 및 테스트 완료
  build.gradle.kts
  src/test/java/com/example/fashionforecastbackend/global/RestDocsConfiguration.java
  src/test/java/com/example/fashionforecastbackend/global/RestDocsTest.java
  src/test/java/com/example/fashionforecastbackend/global/RestDocsTestController.java
  src/test/java/com/example/fashionforecastbackend/global/RestDocsTestControllerTest.java
Labels: 🐧backend, ✨feature

#9 전국 기상 예보 구역 DB 인서트 작업
  .gitignore
  build.gradle.kts
  src/main/java/com/example/fashionforecastbackend/global/util/FileReader.java
  src/main/java/com/example/fashionforecastbackend/region/config/InitialRegionLoader.java
  src/main/java/com/example/fashionforecastbackend/region/config/NationalForecastRegionReader.java
  src/main/java/com/example/fashionforecastbackend/region/domain/Address.java
  src/main/java/com/example/fashionforecastbackend/region/domain/Region.java
  src/main/java/com/example/fashionforecastbackend/region/domain/repository/RegionCustomRepository.java
  src/main/java/com/example/fashionforecastbackend/region/domain/repository/RegionCustomRepositoryImpl.java
  src/main/java/com/example/fashionforecastbackend/region/domain/repository/RegionRepository.java
  src/main/java/com/example/fashionforecastbackend/region/service/Impl/RegionServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/region/service/RegionService.java
  src/main/resources/application.yml
  src/main/resources/national_forecast_regions.csv
  src/test/java/com/example/fashionforecastbackend/global/RestDocsTestControllerTest.java
  src/test/java/com/example/fashionforecastbackend/region/config/NationalForecastRegionReaderTest.java
  src/test/java/com/example/fashionforecastbackend/region/domain/repository/RegionRepositoryTest.java
Labels: 🐧backend, ✨feature

#13 feat: 응답 포맷 개발
  src/main/java/com/example/fashionforecastbackend/global/response/ApiResponse.java
  src/main/java/com/example/fashionforecastbackend/global/response/ErrorResponse.java
Labels: 🐧backend, ✨feature

#16 RestClient 외부 api 호출 구현 및 테스트
  src/main/java/com/example/fashionforecastbackend/global/config/RestClientConfig.java
  src/main/java/com/example/fashionforecastbackend/weather/api/RestClientWeatherRequester.java
  src/main/java/com/example/fashionforecastbackend/weather/api/WeatherApiProperties.java
  src/test/java/com/example/fashionforecastbackend/weather/api/RestClientWeatherRequesterTest.java
Labels: 🐧backend, ✨feature

#17 금일, 명일 날씨 조회 API 구현 및 RestDocs 적용
  build.gradle.kts
  src/docs/asciidoc/docs.adoc
  src/main/java/com/example/fashionforecastbackend/FashionForecastBackendApplication.java
  src/main/java/com/example/fashionforecastbackend/global/BaseTimeEntity.java
  src/main/java/com/example/fashionforecastbackend/global/config/RestClientConfig.java
  src/main/java/com/example/fashionforecastbackend/region/config/InitialRegionLoader.java
  src/main/java/com/example/fashionforecastbackend/region/config/NationalForecastRegionReader.java
  src/main/java/com/example/fashionforecastbackend/region/domain/Region.java
  src/main/java/com/example/fashionforecastbackend/region/domain/repository/RegionCustomRepositoryImpl.java
  src/main/java/com/example/fashionforecastbackend/region/domain/repository/RegionRepository.java
  src/main/java/com/example/fashionforecastbackend/region/service/Impl/RegionServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/RainType.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/SkyStatus.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/Weather.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherCustomRepository.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherCustomRepositoryImpl.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherRepository.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/WeatherApiResponse.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/WeatherRequestDto.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/WeatherResponseDto.java
  src/main/java/com/example/fashionforecastbackend/weather/presentation/WeatherController.java
  src/main/java/com/example/fashionforecastbackend/weather/service/Impl/WeatherServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/weather/service/WeatherMapper.java
  src/main/java/com/example/fashionforecastbackend/weather/service/WeatherService.java
  src/main/resources/static/docs/docs.html
  src/test/java/com/example/fashionforecastbackend/global/ControllerTest.java
  src/test/java/com/example/fashionforecastbackend/global/RestDocsConfiguration.java
  src/test/java/com/example/fashionforecastbackend/global/RestDocsTestControllerTest.java
  src/test/java/com/example/fashionforecastbackend/global/restdocs/RestDocsConfiguration.java
  src/test/java/com/example/fashionforecastbackend/global/restdocs/RestDocsTestController.java
  src/test/java/com/example/fashionforecastbackend/global/restdocs/RestDocsTestControllerTest.java
  src/test/java/com/example/fashionforecastbackend/region/config/NationalForecastRegionReaderTest.java
  src/test/java/com/example/fashionforecastbackend/region/domain/repository/RegionRepositoryTest.java
  src/test/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherRepositoryTest.java
  src/test/java/com/example/fashionforecastbackend/weather/fixture/WeatherFixture.java
  src/test/java/com/example/fashionforecastbackend/weather/presentation/WeatherControllerTest.java
  src/test/java/com/example/fashionforecastbackend/weather/service/WeatherServiceTest.java
Labels: 🐧backend, ✨feature

#21 CICD 파이프라인 구현
  .github/workflows/CD-EC2-Dev.yml
  .github/workflows/CI-DockerHubPush.yml
  Dockerfile
Labels: 🐧backend, ✨feature

#14 feat: 커스텀 예외 처리 클래스 개발
  src/main/java/com/example/fashionforecastbackend/global/error/ErrorCode.java
  src/main/java/com/example/fashionforecastbackend/global/error/GeneralException.java
  src/main/java/com/example/fashionforecastbackend/global/error/GlobalExceptionHandler.java
  src/main/java/com/example/fashionforecastbackend/global/error/exception/.keep
Labels: 🐧backend, ✨feature

#22 chore: cors 설정 추가
  build.gradle.kts
  src/main/java/com/example/fashionforecastbackend/global/config/SecurityConfig.java
  src/test/java/com/example/fashionforecastbackend/weather/presentation/WeatherControllerTest.java
Labels: 🐧backend, ✨feature

#26 날씨 요청 관련 유효성 검증
  .github/workflows/CD-EC2-Dev.yml
  build.gradle.kts
  src/main/java/com/example/fashionforecastbackend/global/BaseTimeEntity.java
  src/main/java/com/example/fashionforecastbackend/global/error/ErrorCode.java
  src/main/java/com/example/fashionforecastbackend/global/error/exception/InvalidWeatherRequestException.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/WeatherRequestDto.java
  src/main/java/com/example/fashionforecastbackend/weather/presentation/WeatherController.java
  src/main/java/com/example/fashionforecastbackend/weather/service/Impl/WeatherServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/weather/util/WeatherValidator.java
  src/test/java/com/example/fashionforecastbackend/weather/presentation/WeatherControllerTest.java
  src/test/java/com/example/fashionforecastbackend/weather/service/WeatherServiceTest.java
Labels: 🐧backend, ✨feature

#28 날씨 과거 데이터 삭제 스케쥴러 구현
  src/main/java/com/example/fashionforecastbackend/FashionForecastBackendApplication.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherRepository.java
  src/main/java/com/example/fashionforecastbackend/weather/service/Impl/WeatherServiceImpl.java
  src/test/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherRepositoryTest.java
Labels: 🐧backend, ✨feature

#35 Guest 로그인 구현 및 Member 도메인 설계
  src/docs/asciidoc/docs.adoc
  src/main/java/com/example/fashionforecastbackend/global/response/ApiResponse.java
  src/main/java/com/example/fashionforecastbackend/guest/domain/Guest.java
  src/main/java/com/example/fashionforecastbackend/guest/domain/GuestState.java
  src/main/java/com/example/fashionforecastbackend/guest/domain/repository/GuestRepository.java
  src/main/java/com/example/fashionforecastbackend/guest/dto/GuestLoginRequest.java
  src/main/java/com/example/fashionforecastbackend/guest/dto/GuestLoginResponse.java
  src/main/java/com/example/fashionforecastbackend/guest/presentation/GuestController.java
  src/main/java/com/example/fashionforecastbackend/guest/service/GuestService.java
  src/main/java/com/example/fashionforecastbackend/guest/service/Impl/GuestServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/member/domain/Member.java
  src/main/java/com/example/fashionforecastbackend/member/domain/MemberBirthday.java
  src/main/java/com/example/fashionforecastbackend/member/domain/MemberGender.java
  src/main/java/com/example/fashionforecastbackend/member/domain/MemberJoinType.java
  src/main/java/com/example/fashionforecastbackend/member/domain/MemberRole.java
  src/main/java/com/example/fashionforecastbackend/member/domain/MemberState.java
  src/main/java/com/example/fashionforecastbackend/member/domain/repository/MemberRepository.java
  src/main/java/com/example/fashionforecastbackend/member/dto/.keep
  src/main/java/com/example/fashionforecastbackend/member/service/.keep
  src/main/resources/static/docs/docs.html
  src/test/java/com/example/fashionforecastbackend/global/restdocs/RestDocsConfiguration.java
  src/test/java/com/example/fashionforecastbackend/guest/presentation/GuestControllerTest.java
  src/test/java/com/example/fashionforecastbackend/weather/presentation/WeatherControllerTest.java
  src/test/resources/org/springframework/restdocs/templates/query-parameters.snippet
  src/test/resources/org/springframework/restdocs/templates/request-fields.snippet
Labels: 🐧backend, ✨feature

#37 날씨 조회 api 수정
  src/docs/asciidoc/docs.adoc
  src/main/java/com/example/fashionforecastbackend/global/error/ErrorCode.java
  src/main/java/com/example/fashionforecastbackend/weather/api/RestClientWeatherRequester.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/Season.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/Weather.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherCustomRepositoryImpl.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/request/WeatherFilter.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/request/WeatherRequest.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/response/WeatherApi.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/response/WeatherForecast.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/response/WeatherResponse.java
  src/main/java/com/example/fashionforecastbackend/weather/presentation/WeatherController.java
  src/main/java/com/example/fashionforecastbackend/weather/service/Impl/WeatherServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/weather/service/WeatherMapper.java
  src/main/java/com/example/fashionforecastbackend/weather/service/WeatherService.java
  src/main/java/com/example/fashionforecastbackend/weather/util/WeatherDateTimeValidator.java
  src/main/java/com/example/fashionforecastbackend/weather/util/WeatherValidator.java
  src/main/resources/static/docs/docs.html
  src/test/java/com/example/fashionforecastbackend/weather/api/RestClientWeatherRequesterTest.java
  src/test/java/com/example/fashionforecastbackend/weather/fixture/WeatherFixture.java
  src/test/java/com/example/fashionforecastbackend/weather/presentation/WeatherControllerTest.java
  src/test/java/com/example/fashionforecastbackend/weather/service/WeatherServiceTest.java
Labels: 🐧backend, 🛠️refactor

#39 기상청 api 호출 개선 및 날씨 도메인 queryDsl 적용
  .gitignore
  build.gradle.kts
  src/main/java/com/example/fashionforecastbackend/global/config/QueryDslConfig.java
  src/main/java/com/example/fashionforecastbackend/weather/api/RestClientWeatherRequester.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherCustomRepositoryImpl.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherQueryRepository.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherQueryRepositoryImpl.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherRepository.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/response/WeatherResponse.java
  src/main/java/com/example/fashionforecastbackend/weather/service/Impl/WeatherServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/weather/service/WeatherMapper.java
  src/main/resources/static/docs/docs.html
  src/test/java/com/example/fashionforecastbackend/region/domain/repository/RegionRepositoryTest.java
  src/test/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherRepositoryTest.java
  src/test/java/com/example/fashionforecastbackend/weather/fixture/WeatherFixture.java
  src/test/java/com/example/fashionforecastbackend/weather/presentation/WeatherControllerTest.java
  src/test/java/com/example/fashionforecastbackend/weather/service/WeatherServiceTest.java
Labels: 🐧backend, 🛠️refactor

#42 시간 유효성 검증 부분 수정
  src/main/java/com/example/fashionforecastbackend/weather/service/Impl/WeatherServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/weather/util/WeatherDateTimeValidator.java
Labels: 🐧backend, 🛠️refactor

#46 response 형식 변경
  src/main/java/com/example/fashionforecastbackend/recommend/domain/repository/RecommendationRepository.java
  src/main/java/com/example/fashionforecastbackend/recommend/dto/RecommendResponse.java
  src/main/java/com/example/fashionforecastbackend/recommend/service/impl/RecommendServiceImpl.java
  src/test/java/com/example/fashionforecastbackend/recommend/presetation/RecommendationControllerTest.java
Labels: 🐧backend, 🛠️refactor

#49 날씨 조회 로직 수정
  src/main/java/com/example/fashionforecastbackend/weather/service/Impl/WeatherServiceImpl.java
  src/test/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherRepositoryTest.java
  src/test/java/com/example/fashionforecastbackend/weather/fixture/WeatherFixture.java
Labels: 🐧backend, 🛠️refactor

#51 날씨 중복 조회 수정
  src/main/java/com/example/fashionforecastbackend/weather/domain/Weather.java
  src/main/java/com/example/fashionforecastbackend/weather/service/Impl/WeatherServiceImpl.java
Labels: 🐧backend, 🛠️refactor

#53 refactor: 온도 옵션 설정 수정
  src/main/java/com/example/fashionforecastbackend/recommend/service/impl/RecommendServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/tempStage/domain/repository/TempStageRepository.java
Labels: 🐛bug, 🐧backend

#55 cors 추가 설정
  src/main/java/com/example/fashionforecastbackend/global/config/SecurityConfig.java
Labels: 🐧backend, 🛠️refactor
