Repository FashionForecast/FashionForecast-server, pull requests merged in 2024-12, with the labels that each got.

#159 Feature/#156 guest outfit
  src/docs/asciidoc/docs.adoc
  src/main/java/com/example/fashionforecastbackend/customOutfit/domain/GuestOutfit.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/domain/MemberOutfit.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/domain/constant/BottomAttribute.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/domain/constant/TopAttribute.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/domain/repository/MemberOutfitRepository.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/dto/request/DeleteGuestOutfitRequest.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/dto/request/GuestOutfitRequest.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/dto/request/GuestTempStageOutfitRequest.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/dto/request/MemberOutfitRequest.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/dto/request/MemberTempStageOutfitRequest.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/dto/response/GuestOutfitResponse.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/dto/response/MemberOutfitGroupResponse.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/dto/response/MemberOutfitResponse.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/presentation/GuestOutfitController.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/presentation/MemberOutfitController.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/service/GuestOutfitService.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/service/MemberOutfitService.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/service/impl/GuestOutfitServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/customOutfit/service/impl/MemberOutfitServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/global/config/RedisConfig.java
  src/main/java/com/example/fashionforecastbackend/global/error/ErrorCode.java
  src/main/java/com/example/fashionforecastbackend/global/error/exception/GuestOutfitException.java
  src/main/java/com/example/fashionforecastbackend/global/error/exception/NotFoundGuestException.java
  src/main/java/com/example/fashionforecastbackend/guest/service/GuestService.java
  src/main/java/com/example/fashionforecastbackend/guest/service/Impl/GuestServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/listener/DeleteEventListener.java
  src/main/java/com/example/fashionforecastbackend/member/domain/Member.java
  src/main/resources/static/docs/docs.html
  src/test/java/com/example/fashionforecastbackend/customOutfit/fixture/GuestOutfitFixture.java
  src/test/java/com/example/fashionforecastbackend/customOutfit/fixture/MemberOutfitFixture.java
  src/test/java/com/example/fashionforecastbackend/customOutfit/presentation/GuestOutfitControllerTest.java
  src/test/java/com/example/fashionforecastbackend/customOutfit/presentation/MemberOutfitControllerTest.java
  src/test/java/com/example/fashionforecastbackend/customOutfit/service/impl/MemberOutfitServiceTest.java
  src/test/java/com/example/fashionforecastbackend/listener/DeleteEventListenerTest.java
Labels: 🐧backend, ✨feature

#160 날씨 조회 api 변경 및 개선 작업
  src/main/java/com/example/fashionforecastbackend/region/config/NationalForecastRegionReader.java
  src/main/java/com/example/fashionforecastbackend/region/domain/Region.java
  src/main/java/com/example/fashionforecastbackend/region/domain/repository/RegionRepository.java
  src/main/java/com/example/fashionforecastbackend/weather/api/RestClientWeatherRequester.java
  src/main/java/com/example/fashionforecastbackend/weather/api/RestClientWeatherRequesterV2.java
  src/main/java/com/example/fashionforecastbackend/weather/api/WeatherApiPropertiesV2.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/Weather.java
  src/main/java/com/example/fashionforecastbackend/weather/domain/repository/WeatherRepository.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/request/WeatherFilter.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/request/WeatherRequest.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/response/WeatherApiV2.java
  src/main/java/com/example/fashionforecastbackend/weather/dto/response/WeatherForecast.java
  src/main/java/com/example/fashionforecastbackend/weather/presentation/WeatherController.java
  src/main/java/com/example/fashionforecastbackend/weather/service/Impl/WeatherServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/weather/service/Impl/WeatherServiceImplV2.java
  src/main/java/com/example/fashionforecastbackend/weather/service/WeatherMapperV2.java
  src/main/resources/national_forecast_regions_v2.csv
  src/test/java/com/example/fashionforecastbackend/weather/presentation/WeatherControllerTest.java
  src/test/java/com/example/fashionforecastbackend/weather/service/WeatherServiceTest.java
Labels: 🐧backend, ✨feature, 🛠️refactor

#167 Refactor/#166 weather
  src/main/java/com/example/fashionforecastbackend/weather/dto/request/WeatherRequest.java
  src/test/java/com/example/fashionforecastbackend/weather/presentation/WeatherControllerTest.java
Labels: 🐧backend, 🛠️refactor
