Repository FashionForecast/FashionForecast-server, pull requests merged in 2024-10, with the labels that each got.

#109 기존 배포 스크립트 삭제
  .github/workflows/CD-EC2.yml
  .github/workflows/CI-DockerHubPush.yml
Labels: 🐧backend, 🛠️refactor

#111 phase1 프로젝트 소개서 작성
  README.md
Labels: 🐧backend, ✨feature

#113 사용자 성별 추가 기능
  src/docs/asciidoc/docs.adoc
  src/main/java/com/example/fashionforecastbackend/global/oauth2/CustomOauth2User.java
  src/main/java/com/example/fashionforecastbackend/global/oauth2/handler/Oauth2LoginSuccessHandler.java
  src/main/java/com/example/fashionforecastbackend/global/oauth2/service/CustomOauth2UserService.java
  src/main/java/com/example/fashionforecastbackend/member/domain/Gender.java
  src/main/java/com/example/fashionforecastbackend/member/domain/Member.java
  src/main/java/com/example/fashionforecastbackend/member/domain/repository/MemberRepository.java
  src/main/java/com/example/fashionforecastbackend/member/dto/.keep
  src/main/java/com/example/fashionforecastbackend/member/dto/request/MemberGenderRequest.java
  src/main/java/com/example/fashionforecastbackend/member/presentation/MemberController.java
  src/main/java/com/example/fashionforecastbackend/member/service/.keep
  src/main/java/com/example/fashionforecastbackend/member/service/MemberService.java
  src/main/java/com/example/fashionforecastbackend/member/service/impl/MemberServiceImpl.java
  src/main/resources/static/docs/docs.html
  src/test/java/com/example/fashionforecastbackend/member/presentation/MemberControllerTest.java
Labels: 🐧backend, ✨feature

#114 회원정보 응답 기능
  src/docs/asciidoc/docs.adoc
  src/main/java/com/example/fashionforecastbackend/global/error/GlobalExceptionHandler.java
  src/main/java/com/example/fashionforecastbackend/global/login/service/Impl/LoginServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/global/oauth2/Oauth2Attributes.java
  src/main/java/com/example/fashionforecastbackend/global/oauth2/service/CustomOauth2UserService.java
  src/main/java/com/example/fashionforecastbackend/member/domain/Member.java
  src/main/java/com/example/fashionforecastbackend/member/domain/MemberJoinType.java
  src/main/java/com/example/fashionforecastbackend/member/domain/MemberState.java
  src/main/java/com/example/fashionforecastbackend/member/domain/constant/Gender.java
  src/main/java/com/example/fashionforecastbackend/member/domain/constant/MemberJoinType.java
  src/main/java/com/example/fashionforecastbackend/member/domain/constant/MemberRole.java
  src/main/java/com/example/fashionforecastbackend/member/domain/constant/MemberState.java
  src/main/java/com/example/fashionforecastbackend/member/domain/constant/PersonalSetting.java
  src/main/java/com/example/fashionforecastbackend/member/domain/repository/MemberRepository.java
  src/main/java/com/example/fashionforecastbackend/member/dto/request/MemberGenderRequest.java
  src/main/java/com/example/fashionforecastbackend/member/dto/response/MemberInfoResponse.java
  src/main/java/com/example/fashionforecastbackend/member/presentation/MemberController.java
  src/main/java/com/example/fashionforecastbackend/member/service/MemberService.java
  src/main/java/com/example/fashionforecastbackend/member/service/impl/MemberServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/region/domain/Address.java
  src/main/resources/static/docs/docs.html
  src/test/java/com/example/fashionforecastbackend/member/presentation/MemberControllerTest.java
Labels: 🐧backend, ✨feature

#116 회원 별 옷차림 저장 api 구현
  src/docs/asciidoc/docs.adoc
  src/main/java/com/example/fashionforecastbackend/member/domain/Member.java
  src/main/java/com/example/fashionforecastbackend/member/domain/MemberOutfit.java
  src/main/java/com/example/fashionforecastbackend/member/domain/constant/BottomAttribute.java
  src/main/java/com/example/fashionforecastbackend/member/domain/constant/TopAttribute.java
  src/main/java/com/example/fashionforecastbackend/member/domain/repository/MemberOutfitRepository.java
  src/main/java/com/example/fashionforecastbackend/member/dto/request/MemberOutfitRequest.java
  src/main/java/com/example/fashionforecastbackend/member/presentation/MemberController.java
  src/main/java/com/example/fashionforecastbackend/member/service/MemberService.java
  src/main/java/com/example/fashionforecastbackend/member/service/impl/MemberServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/outfit/domain/Outfit.java
  src/main/java/com/example/fashionforecastbackend/outfit/domain/OutfitGender.java
  src/main/java/com/example/fashionforecastbackend/tempStage/domain/TempStage.java
  src/main/resources/db/migration/V1__init.sql
  src/main/resources/db/migration/V2__add_outfit.sql
  src/main/resources/db/migration/V4__add_recommendation.sql
  src/main/resources/static/docs/docs.html
  src/test/java/com/example/fashionforecastbackend/member/presentation/MemberControllerTest.java
  src/test/java/com/example/fashionforecastbackend/member/service/impl/MemberServiceTest.java
Labels: 🐧backend, ✨feature

#121 로그인 버그 해결
  src/docs/asciidoc/docs.adoc
  src/main/java/com/example/fashionforecastbackend/global/jwt/filter/JwtFilter.java
  src/main/java/com/example/fashionforecastbackend/global/jwt/service/JwtService.java
  src/main/java/com/example/fashionforecastbackend/global/oauth2/service/CustomOauth2UserService.java
  src/main/java/com/example/fashionforecastbackend/outfit/domain/Outfit.java
  src/main/java/com/example/fashionforecastbackend/outfit/domain/repository/OutfitRepository.java
  src/main/java/com/example/fashionforecastbackend/outfit/dto/request/OutfitRequest.java
  src/main/java/com/example/fashionforecastbackend/outfit/dto/response/OutfitGroupResponse.java
  src/main/java/com/example/fashionforecastbackend/outfit/dto/response/OutfitResponse.java
  src/main/java/com/example/fashionforecastbackend/outfit/presentation/OutfitController.java
  src/main/java/com/example/fashionforecastbackend/outfit/service/OutfitService.java
  src/main/java/com/example/fashionforecastbackend/outfit/service/impl/OutfitServiceImpl.java
  src/main/resources/static/docs/docs.html
  src/test/java/com/example/fashionforecastbackend/outfit/fixture/OutfitFixture.java
  src/test/java/com/example/fashionforecastbackend/outfit/presentation/OutfitControllerTest.java
  src/test/java/com/example/fashionforecastbackend/outfit/service/impl/OutfitServiceTest.java
Labels: 🐛bug, 🐧backend

#122 fix: principle이 null인 문제 해결
  src/main/java/com/example/fashionforecastbackend/global/jwt/service/JwtService.java
  src/main/java/com/example/fashionforecastbackend/global/oauth2/UserDetail.java
  src/main/java/com/example/fashionforecastbackend/member/presentation/MemberController.java
  src/main/java/com/example/fashionforecastbackend/outfit/presentation/OutfitController.java
  src/test/java/com/example/fashionforecastbackend/member/presentation/MemberControllerTest.java
  src/test/java/com/example/fashionforecastbackend/outfit/presentation/OutfitControllerTest.java
Labels: 🐛bug, 🐧backend

#126 회원 정보 null인 경우 null 반환
  src/main/java/com/example/fashionforecastbackend/global/oauth2/service/CustomOauth2UserService.java
  src/main/java/com/example/fashionforecastbackend/member/domain/constant/PersonalSetting.java
  src/main/java/com/example/fashionforecastbackend/member/dto/response/MemberInfoResponse.java
Labels: 🐧backend, 🛠️refactor

#123 온도 단계별 회원 옷차림 전체 조회 api
  .github/workflows/CI-CD-Backend.yml
  src/docs/asciidoc/docs.adoc
  src/main/java/com/example/fashionforecastbackend/member/domain/MemberOutfit.java
  src/main/java/com/example/fashionforecastbackend/member/domain/repository/MemberOutfitRepository.java
  src/main/java/com/example/fashionforecastbackend/member/dto/response/MemberOutfitGroupResponse.java
  src/main/java/com/example/fashionforecastbackend/member/dto/response/MemberOutfitResponse.java
  src/main/java/com/example/fashionforecastbackend/member/presentation/MemberController.java
  src/main/java/com/example/fashionforecastbackend/member/service/MemberService.java
  src/main/java/com/example/fashionforecastbackend/member/service/impl/MemberServiceImpl.java
  src/main/resources/static/docs/docs.html
  src/test/java/com/example/fashionforecastbackend/member/fixture/MemberOutfitFixture.java
  src/test/java/com/example/fashionforecastbackend/member/presentation/MemberControllerTest.java
  src/test/java/com/example/fashionforecastbackend/member/service/impl/MemberServiceTest.java
Labels: 🐧backend, ✨feature

#127 현재 최저 혹은 최고 기온 기준 회원 옷차림 조회, 회원 옷차림 삭제 api
  src/docs/asciidoc/docs.adoc
  src/main/java/com/example/fashionforecastbackend/global/error/ErrorCode.java
  src/main/java/com/example/fashionforecastbackend/global/error/exception/MemberOutfitLimitExceededException.java
  src/main/java/com/example/fashionforecastbackend/member/domain/MemberOutfit.java
  src/main/java/com/example/fashionforecastbackend/member/domain/repository/MemberOutfitRepository.java
  src/main/java/com/example/fashionforecastbackend/member/dto/request/MemberTempStageOutfitRequest.java
  src/main/java/com/example/fashionforecastbackend/member/presentation/MemberController.java
  src/main/java/com/example/fashionforecastbackend/member/presentation/MemberOutfitController.java
  src/main/java/com/example/fashionforecastbackend/member/service/MemberOutfitService.java
  src/main/java/com/example/fashionforecastbackend/member/service/MemberService.java
  src/main/java/com/example/fashionforecastbackend/member/service/impl/MemberOutfitServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/member/service/impl/MemberServiceImpl.java
  src/main/resources/static/docs/docs.html
  src/test/java/com/example/fashionforecastbackend/member/fixture/MemberOutfitFixture.java
  src/test/java/com/example/fashionforecastbackend/member/presentation/MemberControllerTest.java
  src/test/java/com/example/fashionforecastbackend/member/presentation/MemberOutfitControllerTest.java
  src/test/java/com/example/fashionforecastbackend/member/service/impl/MemberOutfitServiceTest.java
  src/test/java/com/example/fashionforecastbackend/tempStage/fixture/TempStageFixture.java
Labels: 🐧backend, ✨feature

#130 회원 설정 추가
  src/docs/asciidoc/docs.adoc
  src/main/java/com/example/fashionforecastbackend/global/error/ErrorCode.java
  src/main/java/com/example/fashionforecastbackend/global/error/exception/InvalidOutingTimeException.java
  src/main/java/com/example/fashionforecastbackend/member/domain/Member.java
  src/main/java/com/example/fashionforecastbackend/member/domain/constant/PersonalSetting.java
  src/main/java/com/example/fashionforecastbackend/member/dto/request/OutingTimeRequest.java
  src/main/java/com/example/fashionforecastbackend/member/dto/request/RegionRequest.java
  src/main/java/com/example/fashionforecastbackend/member/dto/request/TempConditionRequest.java
  src/main/java/com/example/fashionforecastbackend/member/dto/response/MemberInfoResponse.java
  src/main/java/com/example/fashionforecastbackend/member/presentation/MemberController.java
  src/main/java/com/example/fashionforecastbackend/member/service/MemberService.java
  src/main/java/com/example/fashionforecastbackend/member/service/impl/MemberServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/region/domain/Address.java
  src/main/resources/static/docs/docs.html
  src/test/java/com/example/fashionforecastbackend/member/presentation/MemberControllerTest.java
Labels: 🐧backend, ✨feature

#134 회원 탈퇴 api 구현/#1-리스너
  src/main/java/com/example/fashionforecastbackend/global/login/service/Impl/LoginServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/global/login/service/LoginService.java
  src/main/java/com/example/fashionforecastbackend/listener/DeleteEventListener.java
  src/main/java/com/example/fashionforecastbackend/member/domain/MemberDeleteEvent.java
  src/main/java/com/example/fashionforecastbackend/member/domain/repository/MemberOutfitRepository.java
  src/main/java/com/example/fashionforecastbackend/member/domain/repository/MemberRepository.java
  src/test/java/com/example/fashionforecastbackend/listener/DeleteEventListenerTest.java
Labels: 🐧backend, ✨feature

#138 계정(회원) 탈퇴 api/#2-컨트롤러 구현
  src/docs/asciidoc/docs.adoc
  src/main/java/com/example/fashionforecastbackend/global/login/presentation/LoginController.java
  src/main/java/com/example/fashionforecastbackend/global/login/service/Impl/LoginServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/global/login/service/LoginService.java
  src/main/resources/static/docs/docs.html
  src/test/java/com/example/fashionforecastbackend/global/login/presentation/LoginControllerTest.java
Labels: 🐧backend, ✨feature

#141 로그아웃 기능
  src/main/java/com/example/fashionforecastbackend/global/config/SecurityConfig.java
  src/main/java/com/example/fashionforecastbackend/global/login/domain/RefreshToken.java
  src/main/java/com/example/fashionforecastbackend/global/oauth2/handler/LogoutHandler.java
  src/main/java/com/example/fashionforecastbackend/global/oauth2/service/CustomOauth2UserService.java
Labels: 🐧backend, ✨feature

#146 Refactor/#145 outfit
  src/docs/asciidoc/docs.adoc
  src/main/java/com/example/fashionforecastbackend/outfit/domain/repository/OutfitRepository.java
  src/main/java/com/example/fashionforecastbackend/recommend/service/impl/RecommendServiceImpl.java
  src/main/resources/db/migration/V2__add_outfit.sql
  src/test/java/com/example/fashionforecastbackend/recommend/presetation/RecommendationControllerTest.java
Labels: 🐧backend, 🛠️refactor

#148 계정 탈퇴 api 수정
  src/main/java/com/example/fashionforecastbackend/global/login/presentation/LoginController.java
  src/main/java/com/example/fashionforecastbackend/global/login/service/Impl/LoginServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/global/login/service/LoginService.java
  src/main/java/com/example/fashionforecastbackend/member/domain/repository/MemberOutfitRepository.java
  src/main/resources/db/migration/V2__add_outfit.sql
  src/test/java/com/example/fashionforecastbackend/global/login/presentation/LoginControllerTest.java
Labels: 🐧backend, 🛠️refactor

#150 탈퇴 시 최근 검색어 전체 삭제 로직 추가
  src/main/java/com/example/fashionforecastbackend/listener/DeleteEventListener.java
  src/main/java/com/example/fashionforecastbackend/search/service/SearchService.java
  src/main/java/com/example/fashionforecastbackend/search/service/impl/SearchServiceImpl.java
Labels: 🐧backend, ✨feature

#152 refactor: 최근 검색어 삭제 로직 로그인 서비스 객체로 이동
  src/main/java/com/example/fashionforecastbackend/global/login/service/Impl/LoginServiceImpl.java
  src/main/java/com/example/fashionforecastbackend/listener/DeleteEventListener.java
Labels: 🐧backend, 🛠️refactor
